$main-nav-bg: #036704;
$main-nav-color: #fff;

$font-primary: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-weight-light: 100;
$font-weight-default: 300;
$font-weight-heavy: 900;
$font-color-primary: #444;
